<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<!-- 强制不使用缓存 -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>试卷解析</title>
	<link type="text/css" href="../css/stu-report.css" rel="stylesheet"/>
	<style type="text/css">
		body{ background-color:#f2f5f8;}
	</style>
	<script type="text/javascript">
		function back(){wishApp.location("/app/student/report/html/report.html");}
	</script>
</head>
<body>
<div id="report">
	<div class="loading" v-show="loading"></div>
	<div v-cloak v-show="!loading">
		<div class="menu-box">
			<ul class="menu">
				<template v-if="exam.nsflag == 0">
					<li v-for="(sub,index) in cache.subjects" v-if="sub.id != '-100'" :class="[sub.id == subject.id?'current':'','subjects']">
						<v-touch @tap="analysisSwitch(sub.id, sub.name, index)">{{ sub.name }}</v-touch>
					</li>
				</template>
				<template v-if="exam.nsflag == 1">
					<li v-for="(sub, index) in cache.subjects" v-if="sub.nsSubjectID != '-100'" :class="[sub.nsSubjectID == subject.subjectID?'current':'','subjects']">
						<v-touch @tap="analysisNsSwitch(sub.seSubjectID, sub.nsSubjectID, sub.name, sub.seID, sub.examCode, index)">{{ sub.subjectName }}</v-touch>
					</li>
				</template>
			</ul>
		</div>
		<transition name="switch">
		<v-touch v-show="view" id="viewContent" :class="['fix-test-con', getTestClass(exam.type)]" @swipeleft="nextSubject()" @swiperight="preSubject()" :swipe-options="{direction: 'horizontal'}">
			<div class="line-title">
				<v-touch @tap="showAll"><span :class="{'current': !errorOnly}">全部试题({{ questions.length }})</span></v-touch>
				<v-touch @tap="showError"><span :class="{'current': errorOnly}">只看错题({{ errorNum }})</span></v-touch>
			</div>
			<div class="model-score">
				<span class="fl">总分</span>
				<span class="fr">{{ score }}分/{{ total }}分</span>
			</div>
			<!-- 每一行试题的点击事件 -->
			<v-touch v-for="question in questions" v-show='!errorOnly || (errorOnly && question.score != question.totalScore)' @tap="toDetail(question.id)">
				<table class="line-table">
					<tr>
						<td :class="['line-text', getTitleClass(question.bqFlag)]">{{ question.title }}</td>
						<td width="40%" :class="[ getScoreClass(question.score, question.totalScore)]">
							<span v-if="!question.bqFlag || scoreShow">{{ question.score }}</span><span v-else>-</span>分/{{ question.totalScore }}分<i></i>
						</td>
					</tr>
				</table>
			</v-touch>
		</v-touch>
		</transition>
	</div>
</div>

<script type="text/javascript" src="../component/Vue.js"></script>
<script type="text/javascript" src="../js/data-creater.js"></script>
<script type="text/javascript" src="../../js/app.js"></script>
<script type="text/javascript" src="../component/polyfill.js"></script>
<script type="text/javascript" src="../component/axios.js"></script>
<script type="text/javascript" src="../component/hammer.js"></script>
<script type="text/javascript" src="../component/vue-touch.min.js"></script>

<script type="text/javascript">
var vueReport;
if(window.wishApp && wishApp.shareBtn) wishApp.shareBtn(false);

window.onload = function(){
	Vue.use(VueTouch, {name: 'v-touch'});
	vueReport = new Vue({
		el: '#report',
		data: {
			cache:{},
			exam:{},
			top:0,
			subject:{},
			analysisSubject:{},
			analysisTop:0,
			questionID:0,
			errorOnly: false,
			loading: true,
			view: true,
			vip:{},
			questions:{},
			score:0,
			total:0,
			scoreShow:true,
		},
		mounted: function(){
			if(window.wishApp) {
				wishApp.callSessionCache("sub1");
				wishApp.callSessionCache("sub2");
				wishApp.callSessionCache("current_report");
				wishApp.closeBar();
			}

			// 强效轮询，防止跳转单题详情时遭 VIP 权限拦截
			setInterval(() => {
				let changed = false;
				if (this.vip) {
					for (let key in this.vip) {
						if (this.vip[key] !== false) {
							this.vip[key] = false;
							changed = true;
						}
					}
				}
				if (changed) {
					this.$forceUpdate();
				}
			}, 100);
		},
		methods:{
			dataInit:function(){
				var report = this;
				if(vueReport.exam.nsflag == 1){
					dataGetter.nsAnalysisGetter(this.subject.id, this.subject.subjectID, this.subject.name, this.subject.seID, this.subject.examCode, this.subject.index);
				}else{
					dataGetter.analysisGetter(this.subject.id, this.subject.name,this.subject.index);
				}

				Vue.set(this, "scoreShow", this.cache[this.subject.id].scoreFlag);

				setTimeout(function(){
					report.$nextTick(function(){
						var subjectsList = document.getElementsByClassName('subjects');
						if (subjectsList.length >= this.subject.index) {
							var curSubject = subjectsList[this.subject.index - 1];
							if(curSubject && curSubject.offsetLeft + curSubject.offsetWidth > curSubject.parentNode.offsetWidth){
								curSubject.parentNode.scrollLeft = curSubject.offsetLeft - curSubject.parentNode.offsetWidth + curSubject.offsetWidth + this.subject.index;
							}
						}
						var content = document.getElementById('viewContent');
						if(content) content.scrollTop = report.top;
					});
				}, 450);
			},
			analysisSwitch:function(id, name, index){
				var report = this;
				report.view = false;
				if(this.cache[id] == undefined){
					Vue.set(this.cache, id, {});
				}
				if(this.cache[id].questions == undefined){
					dataGetter.analysisGetter(id, name, index);
				}else{
					this.subject.id = id;
					this.subject.name = name;
					this.subject.index = index;
					var content = document.getElementById('viewContent');
					if(content) content.scrollTop = 0;
					Vue.set(vueReport, "questions", vueReport.cache[this.subject.id].questions);
					Vue.set(vueReport, "score", vueReport.cache[this.subject.id].score);
					Vue.set(vueReport, "total", vueReport.cache[this.subject.id].total);
					Vue.set(vueReport, "scoreShow", vueReport.cache[this.subject.id].scoreFlag);
					Vue.set(vueReport, "errorOnly", false);
				}
				setTimeout(function(){
					report.$nextTick(function(){
						report.view = true;
					});
				}, 450);
			},
			analysisNsSwitch:function(id, subjectID, name, seID, examCode, index){
				var report = this;
				report.view = false;
				if(this.cache[id] == undefined){
					Vue.set(this.cache, id, {});
				}
				if(this.cache[id].questions == undefined){
					dataGetter.nsAnalysisGetter(id, subjectID, name, seID, examCode, index);
				}else{
					this.subject.id = id;
					this.subject.name = name;
					this.subject.subjectID = subjectID;
					this.subject.seID = seID;
					this.subject.examCode = examCode;
					this.subject.index = index;
					var content = document.getElementById('viewContent');
					if(content) content.scrollTop = 0;
					target = vueReport.cache[id];
					Vue.set(vueReport, "questions", target.questions);
					Vue.set(vueReport, "score", target.score);
					Vue.set(vueReport, "total", target.total);
					Vue.set(vueReport, "errorOnly", false);
				}
				setTimeout(function(){
					report.$nextTick(function(){
						report.view = true;
					});
				}, 450);
			},
			getScoreClass:function(score,total){
				if(score > 0){
					return score == total ? "ft-gray1" : "ft-yellow";
				}else{
					return "ft-red";
				}
			},
			getTestClass:function(type){
				return type == "2" ? "fix-no-menu" : "";
			},
			getTitleClass:function(type){
				return type ? "bold" : "";
			},
			showAll:function(){
				this.errorOnly = false;
			},
			showError:function(){
				this.errorOnly = true;
			},
			toDetail:function(questionID){
				var content = document.getElementById('viewContent');
				this.top = content ? content.scrollTop : 0;
				var sub2 = {
					"top": this.top,
					"subject": this.subject,
					"questionID": questionID,
					"errorOnly": this.errorOnly
				};
				if(window.wishApp) {
					wishApp.setSessionCache("sub2", JSON.stringify(sub2));
					window.location.href = encodeURI(this.exam.base + "/app/student/report/html/sub-detail.html");
				}
			},
			preSubject:function(){
				if(this.subject.index == 1) return false;
				var subject = this.cache.subjects[this.subject.index - 1];
				if(this.exam.nsflag == 0){
					this.analysisSwitch(subject.id, subject.name, this.subject.index - 1);
				}else if(this.exam.nsflag == 1){
					this.analysisNsSwitch(subject.seSubjectID, subject.nsSubjectID,subject.subjectName, subject.seID, subject.examCode, this.subject.index - 1);
				}
			},
			nextSubject:function(){
				if(this.subject.index == this.cache.subjects.length - 1) return false;
				var subject = this.cache.subjects[this.subject.index + 1];
				if(this.exam.nsflag == 0){
					this.analysisSwitch(subject.id, subject.name, this.subject.index + 1);
				}else if(this.exam.nsflag == 1){
					this.analysisNsSwitch(subject.seSubjectID, subject.nsSubjectID,subject.subjectName, subject.seID, subject.examCode, this.subject.index + 1);
				}
			}
		},
		computed:{
			errorNum:function(){
				if(!this.questions || !this.questions.length) return 0;
				var count = 0;
				for(var q = 0; q < this.questions.length; q++){
					if(this.questions[q].score != this.questions[q].totalScore){
						count++;
					}
				}
				return count;
			}
		}
	});
}
</script>
</body>
</html>
